<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatvia Chat</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="container">
        <div class="leftSide">
            <!-- Header -->
            <div class="headerl">
                <div class="userimg">
                    <img src="/user_img/<%=user.image%>" alt="" class="cover">
                </div>
                <h4><%=user.name%> <br><span>online</span></h4>
                <!-- <div class="listHead">
                </div> -->
                <ul class="nav_icons">
                    <!-- <li><ion-icon name="scan-circle-outline"></ion-icon></li> -->
                    <li><ion-icon name="chatbox"></ion-icon></li>
                    <li><ion-icon name="ellipsis-vertical"></ion-icon></li>
                </ul>
            </div>
            <!-- Search Chat -->
            <div class="search_chat">
                <div>
                    <input type="text" id="search-input" placeholder="Search or start new chat">
                    <ion-icon name="search-outline"></ion-icon> 
                </div>                
            </div>
            <!-- USER LIST -->
            <div class="chatlist">
                <%if(other.length>0){%>
                    <%for(let data=0;data<other.length;data++){%>
                        <div class="block active user-list" data-id="<%=other[data]['_id']%>">
                            <div class="imgBox">
                                <img src="/user_img/<%=other[data]['image']%>"  class="cover" alt="">
                            </div>
                            <div class="details">
                                <div class="listHead">
                                    <h4><%=other[data]["name"]%></h4>
                                    <p class="time">10:56</p>
                                </div>
                                <div class="message_p">
                                    <p>How are you doing?</p>
                                </div>
                            </div>
                        </div>
                        <%}%>
                    <%}else{%>
                        <h2>There is no user to display</h2>
                <%}%>
            </div>
        </div>
        <!-- Right side part -->
        <div class="rightSide chat-section">
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="/socket.io/socket.io.js"></script>
<script>
    
    $(document).ready(()=>{
        var senderId="<%=user._id%>"
        var receiverId
        var socket = io({
        auth:{
            token:"<%=user._id%>"
        }
    });
    
        $('.user-list').click(function(){
            var userId=$(this).attr('data-id')
            receiverId=userId
            $.ajax({
                url:`/api/v1/getUser/${receiverId}`,
                type:'post',
                data: {receiverId:receiverId},
                success: function (response){
                    receiverId=response.user._id
                    var user = response.user;
                    var receiverImage=user.image
         			var receiverName = user.name;
                     let header=`
                     <div class="headerr">
                <div class="imgText">
                            <div class="userimg">
                                <img src="/user_img/${receiverImage}"  alt="" class="cover">
                            </div>
                            <h4>${receiverName} <br><span>online</span></h4>
                        </div>
                        <ul class="nav_icons">
                            <li><ion-icon name="search-outline"></ion-icon></li>
                            <li><ion-icon name="ellipsis-vertical"></ion-icon></li>
                        </ul>
            </div>

            <!-- CHAT-BOX -->
            <div class="chatbox " id="chat-container">
            </div>
            <!-- CHAT INPUT -->
            <div class="chat_input">
                <ion-icon name="happy-outline"></ion-icon>
                <ion-icon name="cloud-upload-outline"></ion-icon>
            
        
                    <input type="text" id="message" name="message" placeholder="Type a message">
                <!-- <ion-icon name="send-outline" type="submit" id="msg" value="submit"></ion-icon> -->
          
                    <button id="chat-form"> submit</button>
        
                <!-- <ion-icon name="mic"></ion-icon> -->
            </div>

                        `
                $('.rightSide').html(header)
                $('.headerr').attr('id', receiverId);
                $('#chat-form').click(function(e){
      
        var message=$('#message').val()
        $.ajax({
            url:'/api/v1/savechat',
            type:'post',
            data:{senderId:senderId,receiverId:receiverId,message:message},
            success:function(data){
               if(data.success){
                $('#message').val('')
                let chat=data.chat.message
                console.log(chat)
                const currentDate = new Date();
                const currentHour = currentDate.getHours();
                const currentMinute = currentDate.getMinutes();
                let html =`<div class="message my_msg">
                    <ion-icon name="trash-outline"></ion-icon>
                    <p>${chat}<br><span>${currentHour}:${currentMinute}</span></p>
                </div>`
                $('#chat-container').append(html)
                socket.emit('newChat',data.chat)
               }else{
                console.log(error.message)
                alert(data.msg)
               }
            }
        })
    })
               
                }
            })
        })
   
    // Searching functionality
    $('#search-input').on('input', function() {
    var searchText = $(this).val().toLowerCase();
    $('.user-list').each(function() {
        var userName = $(this).find('.details h4').text().toLowerCase();
        if (userName.indexOf(searchText) !== -1) {
            $(this).show();
        } else {
            $(this).hide();
        }
    });
});
//implement chat functionality on other side
socket.on('loadnewchat', function (data) {
    console.log("receiverId",data.receiverId)
    console.log("data",data)
    const currentDate = new Date();
    const currentHour = currentDate.getHours();
    const currentMinute = currentDate.getMinutes();
 
    let html = `
      <div class="message friend_msg">
        <ion-icon name="trash-outline"></ion-icon>
        <p>${data.message}<br><span>${currentHour}:${currentMinute}</span></p>
      </div>
    `;
    var idValue = $('.headerr').attr('id');
console.log(idValue);
if(idValue == data.senderId){
    $('#chat-container').append(html);
}else{
    alert("wromng")
}
  });

     })
 
</script>
</body>
</html>